# Repository-wide Ruff configuration.
#
# Should only contain project-wide configuration.
#
# Note that:
# - if a Ruff configuration file is present in any subdirectory
#   and does not contain an "extend" value pointing directly or
#   indirectly (through a chain of "extend" to this file
#   then this file is completely ignored by ruff,
# - if the "extend" value directly or indirectly points to this
#   file, values set here are used EXCEPT if redefined in a ruff
#   configuration file deeper in the folder tree. Redefinition of
#   values OVERRIDES the previously set value.

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".github",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pixi",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "*.ipynb",
    "_version.py",
]

# Only include the deltakit folders, not the docs/, tools/ or
# other utility folder.
include = ["deltakit-*/**/*.py", "src/deltakit/**/*.py"]

# Same as Black.
line-length = 88
indent-width = 4

# Assume Python 3.10
target-version = "py310"

[lint]
select = ["A", "B", "E", "F", "N", "PL", "RUF100", "W", "NPY"]

# Specific per-file ignores
[lint.per-file-ignores]
"**/__init__.py" = [
    # For the moment, dynamic __all__ generation raises a lot of issues with
    # F401 enabled, so ignore it where it happens, in __init__.py files.
    "F401",
]

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = true

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
