---
name: Build docs

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.8.10
        with:
          pixi-version: v0.50.2

      - name: Install dependencies
        run: |
          pixi install

      - name: Build all wheels and create zip file for docs build
        run: |
          pixi run build-all-wheels-zip-docs

      - name: Build documentation
        run: |
          pixi run build_docs
        env:
          DELTAKIT_TOKEN: ${{ secrets.DELTAKIT_TOKEN }}
